@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
body {
    background: #e8d9bf;
}
.home-contents {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}
h3 > img {
    height: 78px;
}
/* ヘッダー */
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6.53% 10px 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    transition: background-color 0.5s, color 0.5s;
}
.header_logo {
    width: 226.76px;
}

.header_logo a {
    opacity: 1;
}

.pc_nav ul {
    display: flex;
}
.pc_nav ul li {
    width: 105px;
    color: #fff;
    font-size: 18px;
    margin-right: 55px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}
.pc_nav ul li:last-child {
    margin-right: 0px;
}
.slider img {
    width: 100%;
}
/* headerの色を変える */
.change-color {
    background-color: rgba(0, 0, 0, 0.8);
}

/* メインタイトル */
.main-title_wrap {
    margin: 100px auto;
}
h2 {
    font-size: 82px;
    font-weight: normal;
    line-height: 1.17;
    letter-spacing: 0.1em;
    padding: 60px 0;
}
.catchcopy {
    font-size: 30px;
    letter-spacing: 0.1em;
}
.policy {
    font-size: 23px;
    line-height: 1.65;
}
/* about us */
.about-title-sp {
    display: none;
}
.about_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}
.about-img {
    border-bottom-right-radius: 50px;
}
.about-contents {
    text-align: left;
    margin-left: 7.5%;
    padding-top: 70px;
    width: 50%;
}
.about-us {
    font-size: 44px;
    line-height: 1.38;
    padding-top: 60px;
}
.about-service {
    font-size: 16px;
    line-height: 1.62;
    padding: 40px 0;
}
/* menu */
.menu_wrap {
    margin-bottom: 100px;
}
.menu-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.menu-contents {
    width: 30%;
}
.menu-img {
    border-top-right-radius: 50px;
}
.menu-title {
    font-size: 38px;
    font-weight: normal;
    margin: -20px 0 0 20px;
    color: #d30202;
    text-align: left;
}
.menu-contents p {
    font-size: 17px;
    text-align: left;
    line-height: 1.23;
    margin-top: 30px;
}
/* イベント */
.event_wrap ul {
    margin: 40px 0;
    border: #4f260b 3.5px solid;
    background: #fff;
    padding: 25px 0 25px 16%;
}
.event_wrap ul li {
    padding: 15px;
    font-size: 23px;
    text-align: left;
}
.topics {
    padding-left: 60px;
    text-decoration: underline;
}
/* アクセス */
.access_wrap h3 {
    margin-bottom: 50px;
}
.map {
    width: 100%;
    height: 470px;
}
/* フッター */
footer {
    background: #fff;
}
.shop-data {
    display: flex;
    padding: 80px 10px;
    color: #000;
}
.shop-data h4 {
    margin-top: 0;
}
.detailes {
    font-size: 20px;
    margin-left: 7%;
    text-align: left;
}
.detailes li {
    padding: 10px;
    margin-bottom: 5px;
}
.copylite {
    font-size: 16px;
    text-align: center;
    padding-bottom: 80px;
}
/* トップへボタン */
.top-btn {
    width: 120px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}
/* スマホ版メニューは消す */
.sp_nav,
.sp_btn {
    display: none;
}

/* spメニュー*/

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    .sp_btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        height: 30px;
        z-index: 100;
    }
    .sp_btn span {
        background: #ffff;
        width: 33px;
        height: 3px;
        display: block;
        transition: 0.3s;
        position: relative;
        top: 10px;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        background: #ffff;
        width: 33px;
        height: 3px;
        display: block;
        position: absolute;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
        transition: 0.3s;
    }
    .sp_btn span::after {
        top: 10px;
        transition: 0.3s;
    }

    .open span {
        background: transparent;
    }
    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 90;
    }
    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sp_nav ul li {
        color: #fff;
        text-align: center;
        font-size: 18px;
        padding: 20px 0;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    .catchcopy {
        font-size: 2.5vw;
    }

    .main-title {
        font-size: 6.5vw;
    }

    .policy {
        font-size: 2.5vw;
    }
    .about-us {
        font-size: 3.5vw;
    }

    .event-contents a {
        font-size: 2vw;
    }
}

/* スマホ版 */
@media screen and (max-width: 767px) {
    /* メインタイトル */
    .main-title_wrap {
        margin: 50px auto;
    }
    h2 {
        font-size: 50vw;
        font-weight: normal;
        line-height: 1.17;
        letter-spacing: 0.02em;
        padding: 60px 0;
    }
    .catchcopy {
        font-size: 4vw;
    }
    .policy {
        font-size: 16px;
        line-height: 1.87;
    }
    /* about us */
    .about-title-sp {
        display: block;
        margin: 20px 0;
    }
    .about-title-pc {
        display: none;
    }
    .about_wrap {
        flex-direction: column;
        padding: 0;
        margin-bottom: 0;
    }
    .about-contents {
        padding-top: 0;
        margin: 40px 0;
        width: 100%;
    }
    .about-us {
        font-size: 9.6vw;
        line-height: 1.25;
        padding: 35px 10px;
    }

    .about-service {
        padding: 0 10px;
    }

    .about-img {
        border-radius: 0;
    }
    /* menu */
    .menu_wrap {
        margin-bottom: 20px;
    }
    .menu-container {
        flex-direction: column;
    }
    .menu-contents {
        width: 100%;
        margin-bottom: 30px;
    }
    .menu-img {
        width: 100%;
    }
    .menu-title {
        font-size: 40px;
    }
    .menu-contents p {
        line-height: 1.58;
    }

    /* イベント */
    .event_wrap ul {
        margin: 20px 0;
        padding: 0 30px;
    }
    .event_wrap ul li a {
        padding: 15px 0;
        font-size: 16px;
        text-align: left;
        line-height: 1.58;
    }
    .topics {
        padding-left: 0;
    }
    .event-contents span {
        display: block;
    }
    /* アクセス */
    .access_wrap h3 {
        margin-bottom: 0px;
        margin: 10px;
    }

    .shop-data {
        flex-direction: column;
        padding: 80px 10px;
        color: #000;
    }

    /* フッター */
    .shop-data {
        display: block;
        padding: 45px 10px;
        color: #000;
    }
    .detailes {
        font-size: 18px;
        margin-left: 0;
        text-align: left;
    }
    .detailes li {
        padding: 10px;
        margin-bottom: 5px;
    }
    .copylite {
        padding-bottom: 30px;
    }

    /* トップへボタン */
    .top-btn {
        width: 100px;
    }
}
