@charset "utf-8";
body {
    background-color: #eeeeee;
    width: 980px;
    margin: 0 auto;
}
h2 {
    font-size: 30px;
    color: rgb(35, 130, 100);
    padding: 30px;
    text-align: center;
}
.service {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.wrap {
    margin: 10px;
    background-color: rgb(255, 255, 255);
}
h3 {
    color: rgb(35, 130, 100);
    margin: 10px;
    padding: 5px;
    border-left: 10px solid rgb(35, 130, 100);
}
p {
    margin: 10px;
}

@media screen and (max-width: 400px) {
    .service {
        display: block;
    }
    img {
        width: 100%;
    }
    h2 {
        font-size: 60px;
        padding: 120px;
    }
    .wrap {
        margin: 30px;
    }
    h3 {
        font-size: 50px;
    }
    p {
        font-size: 40px;
    }
}
